<h1>Scores</h1>
<% @measures.each do |measure| %>
  <table data-measure="<%= measure.title %>">
    <thead>
      <tr>
        <th><%= measure.title %></th>
        <th></th>
        <% measure.diseases.map {|d| d.metric_categories}.flatten.uniq.sort_by{|mc| mc.title}.each do |metric_category| %>
          <th>Max: <%= metric_category.max %></th>
        <% end %>
        <th>Max: <%= measure.max %></th>
      </tr>
      <tr>
        <th>Name</th>
        <th>Date/Time</th>
        <% measure.diseases.map {|d| d.metric_categories}.flatten.uniq.sort_by{|mc| mc.title}.each do |metric_category| %>
          <th><%= metric_category.title %> Total</th>
        <% end %>
        <th>Measure Total</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
<% end %>
