<!DOCTYPE html>
<html>
  <head>
    <title>Neuromuscular Data</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="loading">
      <p>Loading... <%= image_tag('loading.gif', class: 'loading-animation') %></p>
    </div>

    <%= yield %>

  </body>
</html>
